New Artwork Form

<form name="form">
  <p><label>Title</label> <input name="title" minlength="2" ng-model="artwork.data.title" required="required" /></p>

  <div ng-messages="form.title.$error" ng-if="form.title.$touched">
    <div ng-message="required">Title is required!</div>
    <div ng-message="minlength">Must be more than 2 characters!</div>
  </div>

  <p><label>Artist Name</label> <input name="artistName" minlength="2" ng-model="artwork.data.artist.name" required="required" /></p>

  <div ng-messages="form.artistName.$error" ng-if="form.artistName.$touched">
    <div ng-message="required">Artist name is required!</div>
    <div ng-message="minlength">Must be more than 2 characters!</div>
  </div>

  <p><label>Medium</label> <input name="artistMedium" minlength="2" ng-model="artwork.data.medium" required="required" /></p>

  <div ng-messages="form.medium.$error" ng-if="form.medium.$touched">
    <div ng-message="required">Medium is required!</div>
    <div ng-message="minlength">Must be more than 2 characters!</div>
  </div>

  <p><label>Location</label> <input name="location" minlength="2" ng-model="artwork.data.location" required="required" /></p>

  <div ng-messages="form.location.$error" ng-if="form.location.$touched">
    <div ng-message="required">Location is required!</div>
    <div ng-message="minlength">Must be more than 2 characters!</div>
  </div>

  <p><label>Date Seen</label> <input name="dateSeen" ng-model="artwork.data.date_seen" /></p>

  <p><label>Select Movement(s)</label></p>
  <div ng-repeat="movement in artwork.movements">
    {{movement.name}} <input id="movement.id"
    ng-checked="movementChecked(movement.id)"
    ng-true-value="movement.id"
    type="checkbox"
    ng-click="toggleSelection(movement.id)"
    />
  </div>

  <p><label>Or Add New Movement</label> <input name="movement" minlength="2" ng-model="artwork.data.movement" /></p>

  <div ng-messages="form.movement.$error" ng-if="form.movement.$touched">
    <div ng-message="minlength">Must be more than 2 characters!</div>
  </div>

  <p><input type="submit" value="submit"
    ng-click="submitArtwork(artwork.data)"
      ui-sref="artworks.search"
      ui-sref-opts="{reload: true}"
    ng-disabled="(form.$invalid && form.$dirty) || form.$pristine"></p>
</form>
