<p>Type in one or more of the search fields to filter artworks:</p>

Title: <input ng-model="title">
Artist Name: <input ng-model="artistName">
Movement: <input ng-model="movement">
Location: <input ng-model="location">
Date Seen: <input ng-model="dateSeen"><br>

  <table>
    <tr>
      <th>Title</th>
      <th>Artist Name</th>
      <th>Associated Art Movements</ht>
      <th>Medium</ht>
      <th>Location</th>
      <th>Date Seen</th>
    </tr>

    <tr ng-repeat="artwork in artworks.data | filter: {title: title, location: location, date_seen: dateSeen,
      artist: {name: artistName}, movements: {name: movement}}">
      <td><a ui-sref="artworks.show({id: artwork.id})">{{artwork.title}}</a></td>
      <td><a ui-sref="artists({id: artwork.artist_id})">{{artwork.artist.name}}</a></td>
      <td>
          <div ng-repeat="movement in artwork.movements">
          {{movement.name}}
          </div>
      </td>
      <td>{{artwork.medium}}</td>
      <td>{{artwork.location}}</td>
      <td>{{artwork.date_seen}}</td>
    </tr>
</div>

  </table>
