<p>Artworks Search Page</p>

Filter by:
  <select ng-model="selectedFilter">
    <option value="title" selected>Title</option>
    <option value="artistName">Artist Name</option>
    <option value="artMovement">Art Movement</option>
    <option value="medium">Medium</option>
    <option value="location">Location</option>
  </select>

<input ng-model="artworks.data.search" /><br>

  <table>
    <tr>
      <th>Title</th>
      <th>Artist Name</th>
      <th>Associated Art Movements</ht>
      <th>Medium</ht>
      <th>Location</th>
      <th>Date Seen</th>
    </tr>

    <tr ng-repeat="artwork in artworks.data | Title: artworks.data.search">
      <td><a ui-sref="artworks.show({id: artwork.id})">{{artwork.title}}</a></td>
      <td>{{artwork.artist.name}}</td>
      <td>
          <div ng-repeat="movement in artwork.movements">
          {{movement.name}}
          </div>
      </td>
      <td>{{artwork.medium}}</td>
      <td>{{artwork.location}}</td>
      <td>{{artwork.date_seen}}</td>
    </tr>
</div>

  </table>
