artworks show

  {{artwork.data.title}}

  {{artwork.data.medium}}

  <input type="text" ng-model="artwork.data.date_seen" />

  {{artwork.data.artist.name}}

  {{artwork.data.location}}

  <div ng-repeat="movement in artwork.data.movements">
    {{movement.name}}
  </div>
