// Place all the styles related to the artworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 40px;
  text-decoration: none;
  font-weight: bolder;
  color: #b93a32;
}

h3 {
  color: #b93a32;
}

body {
  color: #b93a32
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #5c1e19;
    border-radius: 5px;
    margin: 50px 0;
}

th {
    background: #932f28;
    border-bottom: 2px solid #5c1e19;
    color: #fff;
    text-align: left;
}

tr:nth-child(even) {
  background: #f3d6d4;
}

tr:nth-child(odd) {
  background: #FFF;
}

.errors {
  font-weight: bolder;
  color: #6e241e;
}
