// Place all the styles related to the movements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artworks ul {
  width: 100%;
  padding: 0;
}

.artworks a {
  color: #932f28;
}

.artworks li {
  background: #f3d6d4;
  list-style-type: none;
  color: #932f28;
  width: 300px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin: 5px;
  text-align: center;
}

.artworks img {
  height: 200px;
  width: 90%;
  margin: 5px 0px 5px 15px;
}

.movements {
  display: inline;
}
