footer {
  text-align: center;
  clear: both;
  width: 100%;
  position: relative;
  height: 50px;
  margin-top: -50px;
}

#social-icons ul {
  padding: 0;
  margin: 0 auto;
}

#social-icons li {
  list-style-type: none;
  display: inline;
  padding: 5px;
}

#social-icons a {
  color: #5c1e19;
}
