footer {
  text-align: center;
}

#social-icons ul {
  padding: 0;
  margin: 0 auto;
}

#social-icons li {
  list-style-type: none;
  display: inline;
  padding: 5px;
}

#social-icons a {
  color: #5c1e19;
}
