// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
	height: 47px;
}

.header__fixed {
	background: #3661A2;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	position: fixed;
	height: inherit;
	top: 0;
	left: 0;
	right: 0;
}
