// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
	height: 47px;
}

.header__fixed {
	background: #6e241e;
	border-bottom: 1px solid #5c1e19;
	position: fixed;
	height: inherit;
	top: 0;
	left: 0;
	right: 0;
}

.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header a {
	display: block;
	padding: 14px 15px;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	float: left;
}

.header a.active {
	background: #932f28;
	font-weight: 700;
	color: #fff;
}
