  <ul id="social-icons">
      <li>
        <a href="http://nscarlyon.com/portfolio"><i class="fa fa-user-circle fa-2x"></i></a>
      </li>
      <li>
          <a href="https://github.com/nscarlyon"><i class="fa fa-github fa-2x"></i></a>
      </li>
      <li>
          <a href="https://www.linkedin.com/in/natasha-carlyon" ><i class="fa fa-linkedin fa-2x"></i></a>
      </li>
      <li>
          <a href="https://twitter.com/nscarlyon"><i class="fa fa-twitter fa-2x"></i></a>
      </li>
      <li>
          <a href="http://nscarlyon.com"><i class="fa fa-dribbble fa-2x"></i></a>
      </li>
  </ul>
