<!DOCTYPE html>
<html>
  <head>
    <title>RailsAngularProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="app">
    <div class="header">
	    <div class="header__fixed">
		    <ul>
          <li>
            <a ui-sref="home" ui-sref-active="active">Home</a>
          </li>
			    <li>
				    <a ui-sref="artworks" ui-sref-active="active">Index</a>
			    </li>
          <li>
            <a ui-sref="artworks.search" ui-sref-active="active">Search</a>
          </li>
		    </ul>
	     </div>
     </div>

    <%= yield %>
  </body>
</html>
